body{
	background-color: black;
	background-size: 1500px;
}
ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
 	overflow: hidden;
 	opacity: 1;
 	background-color: #00004d;
 	background-size: 350px;
 	background-position: 240px -40px;
 	position: sticky; 
 	left: 0px;
 	top: 0;
 	width: 10%; 
 	font-size: 25px;
}
ul.navbar li {float: center;}

ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
}

li.dropbutton{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 42px;
	text-decoration: none;
	display: inline-block;
}
li.dropbutton:hover{
	background-color: #000000
}

.b:hover{
	background-color: #000000
}
.c:hover{
	background-color: #000000
}
.d:hover{
	background-color: #000000
}
.a{
	font-size: 100px;
	color: red;
    background-image: url(Use.gif);
    background-size: 1000px;
    background-position: center;
}
.e{
	font-size: 40px;
	color: white;
}
.melon{
	font-size: 50px;
	color: white;
}
#viewProjects{
  background-color: skyblue;
  padding: .5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 6px;
  color: #fff;
  font-family: 'Oswald';
  font-size: 50px;
  text-decoration: none;
  border: none;
  background-image: url(nav.png);
  background-position: center;
}
#viewProjects:hover{
  border: none;
  background: red;
  box-shadow: 0px 0px 1px #777;
  color: black;    
}
#projects{
    display: none;
}
#contacts{
    color: white;
}
#dropdown{
    display: none;
}
.z{
    color: white;
}